<h1> courses</h1>
<ul>
  <input type="text" (keyup.enter)="Add(data)" #data>
  <li *ngFor="let course of courses | async | keyvalue">
    {{ course.key }} - {{ course.value }}
    <button class="btn btn-primary" (click)="Delete(course.key)">Delete</button>
   
    <!-- <button class="btn btn-primary" (click)="Update(course.key, data.value)">Update</button> -->
  </li>
</ul>

<h1> list clients</h1>
<ul>
  <li *ngFor="let client of clients | async">
    {{ client.firstname }} -
    {{ client.lastname }} -
    {{ client.email }}

    <!-- <button class="btn btn-primary" (click)="Update(client.key, data.value)">Update</button> -->
    <button class="btn btn-primary" (click)="Update(client.key, data.value)">Update</button>
    <button class="btn btn-primary" (click)="Delete(client.key)">Delete</button>
  </li>
</ul>